@media screen and (orientation: portrait) {
  body, footer {
    text-align: center !important;
  }
  header {
    background-position: center center !important;
    height: 20vh !important;
    margin-top: 10vh;
    width: 100% !important;
  }
  main {
    height: 65vh;
  }
  #login input {
    width: 100%;
  }
}
@media screen and (max-width: 959px) {
  header {
    background-size: contain;
  }
}
@keyframes fade {
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}
  @-webkit-keyframes fade {
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
  }
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  align-items: center;
    -webkit-align-items: center;
  background-color: #333;
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
    background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  color: #fff;
  cursor: default;
  display: flex;
    display: -webkit-flex;
  flex-direction: row;
    -webkit-flex-direction: row;
  flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  margin: 0em;
  user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
button {
  background-color: teal;
  border-style: none;
  box-shadow: 0em 0em 0.5em #000;
  color: #fff;
  cursor: pointer;
  padding: 1em;
}
button:hover {
  background-color: lightseagreen;
  box-shadow: 0em 0em 1em #000;
  transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
  transition-property: all;
    -webkit-transition-property: all;
}
footer {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
  padding: 1em;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}
header {
  background-image: url(/logo.png);
  background-position: right center;
  background-repeat: no-repeat;
  height: 95vh;
  width: 40vw;
}
h1 {
  display: none;
}
h1, h2, h3, h4, h5, h6, p, footer {
  font-weight: normal;
  text-shadow: 0em 0.1em 0.2em #000;
}
main {
  flex: 1;
  padding: 1em;
}
.message {
  animation-duration: 3s;
    -webkit-animation-duration: 3s;
  animation-name: fade;
    -webkit-animation-name: fade;
  color: #ff3;
  opacity: 0;
}
#login {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  padding: 1em;
}
#password, #username {
  display: block;
  margin-bottom: 0.5em;
}
