body {
  background-color: #333;
  color: #fff;
  cursor: default;
  font-family: sans-serif;
  margin: 0em;
  user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
